*::-webkit-input-placeholder, *:-moz-placeholder, *::-moz-placeholder, *:-ms-input-placeholder {color: #666; opacity: 1;}
body input:focus:required:invalid, body textarea:focus:required:invalid {}
body input:required:valid, body textarea:required:valid {}

body {padding: 0; margin: 0; font-family: "RobotoRegular", sans-serif;	font-size: 16px;}
a {text-decoration: none;}
input {font-size: 16px; font-family: "Istok Web", sans-serif; width: 95%; height: 30px; padding-left: 5px; padding-right: 5px; line-height: 30px;}
textarea {font-size: 16px; font-family: "Montserrat", sans-serif;, width: 95%; padding: 5px; resize: none; transition: .3s;}
label {font-family: "Istok Web", sans-serif;}

#mobileMenuIcon:hover {color: #a01a21;}
#scroll:hover {background-color: #a01a21;}

.menuPoint:hover, .mobileMenuPoint a span:hover, .mobileMenuPoint i:hover, .footerLogo a i:hover, .copyFont a:hover, .greyFont a:hover, .header a i:hover, .activityHeaderFont:hover {color: #fb5c25;}
.promoButton:hover, .activityButton:hover, .messageButton:hover {background-color: #ededed; color: #fb5c25;}
.activityPhoto img:hover {opacity: .6;}

#menu {width: 100%; height: 80px; background-color: #fff; box-shadow: 0 5px 6px -4px rgba(0, 0, 0, 0.17); z-index: 100 !important; position: fixed; top: 0; left: 0; transition: .3s;}
#menuContent {width: 96%; margin: 0 auto;}
#videoContainer {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1 !important; background-color: #000; overflow: hidden;}
#logo {float: left;}
#logo img {margin-top: 15px; transition: .3s;}
#mask {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(/img/system/raster.png) repeat top left; z-index: 2;}
#sloganContainer {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 3;}
#scroll {display: none; position: fixed; bottom: 20px; right: 30px; z-index: 1000; cursor: pointer; color: #fff; transition: .3s; width: 50px; height: 50px; line-height: 50px; text-align: center; border-radius: 50px; background-color: #fb5c25; font-size: 11px;}
#menuPoints {float: right; position: relative;}
#mobileMenuIcon {display: none; font-size: 26px; cursor: pointer; color: #fb5c25; transition: .3s;}
#mobileMenu {background-color: #fff; padding: 20px; position: fixed; z-index: 99 !important; top: 80px; right: 0; transition: .3s; display: none;}
#footer {width: 100%; background-color: #1e1e1e; padding-top: 40px; padding-bottom: 40px;}
#policySection {width: 60%;}
#contactForm {width: 100%;}
#pageNumbers {display: inline-block; text-align: center; font-family: "Istok Web", sans-serif;}

.text-center {text-align: center !important;}
.text-right {text-align: right !important;}
.clear {clear: both;}
.menuPoint {padding-left: 7px; padding-right: 7px; height: 80px; line-height: 80px; float: right; position: relative; font-family: "Montserat", sans-serif; color: #000; transition: .3s;}
.active {color: #fb5c25 !important; cursor: default;}
.slogan {color: #ededed; margin-top: 200px;}
.sloganBigFont {font-family: "Exo 2", sans-serif; font-size: 100px; font-weight: bold; line-height: 0;}
.sloganSmallFont {font-family: "Poiret One", cursive; font-size: 70px; line-height: 60px;}
.promoButton, .messageButton {padding-left: 20px; padding-right: 20px; height: 50px; line-height: 50px; color: #ededed; background-color: #fb5c25; border-radius: 25px; border: none; transition: .3s; cursor: pointer; font-variant: small-caps; font-size: 18px; font-family: "Istok Web", sans-serif; margin-top: 20px;}
.promoButton i {padding-right: 10px;}
.section {width: 96%; margin: 100px auto auto auto;}
.section100 {width: 100%; margin: 100px auto auto auto;}
.white {background-color: #fff;}
.grey {background-color: #f5f5f5;}
.mobileMenuPoint {text-align: center; height: 40px; line-height: 40px;}
.mobileMenuPoint a span {font-family: "Montserat", sans-serif; color: #000; transition: .3s; font-size: 14px;}
.mobileMenuPoint i {font-size: 18px; color: #000; transition: .3s; cursor: pointer;}
.header {width: 100%; text-align: center;}
.headerFont {font-family: "Montserrat", sans-serif; font-size: 42px; color: #000;}
.activityBlock {margin-top: 70px; padding: 20px;}
.activityPhoto {position: relative; float: left; width: 40%;}
.activityPhoto img {transition: .3s;}
.activityDescription {position: relative; float: right; width: 57%;}
.activityPhoto img {width: 100%;}
.activityText {width: 100%; margin-top: 40px;}
.activityHeaderFont {font-family: "Montserat", sans-serif; color: #000; font-size: 20px; transition: .3s;}
.activityText {font-family: "Istok Web", sans-serif; color: #282828; font-size: 16px;}
.activityButton {padding-left: 20px; padding-right: 20px; height: 30px; line-height: 30px; color: #ededed; background-color: #fb5c25; border-radius: 25px; border: none; transition: .3s; cursor: pointer; font-variant: small-caps; font-size: 16px; font-family: "Istok Web", sans-serif; margin-top: 20px;}
.bigSection {width: 100%; background: url(/img/system/img11.jpg) center center no-repeat; background-size: cover;}
.sloganBottom {color: #ededed;}
.sloganBottomFont {font-family: 'Istok Web', sans-serif; font-size: 3vw; opacity: .75;}
.footerLogo {width: 20%; float: left;}
.footerLogo a i {font-size: 18px; color: #fff; transition: .3s;}
.header a i {font-size: 18px; color: #000; transition: .3s;}
.footerText {width: 78%; font-family: "Istok Web", sans-serif; font-size: 18px; color: #fff; float: right;}
.copyFont, .copyFont a {font-family: "Istok Web", sans-serif; font-size: 14px; color: #fff; transition: .3s;}
.greyFont, .greyFont a {font-family: "Istok Web", sans-serif; font-size: 12px; color: #999; transition: .3s;}
.orangeLine {width: 40px; height: 4px; background-color: #fb5c25; border-radius: 1px; margin: 40px auto auto auto;}
.orangeLeftLine {width: 40px; height: 4px; background-color: #fb5c25; border-radius: 1px; margin-top: 40px;}
.smallHeaderFont {font-family: "Montserat", sans-serif; color: #000; font-size: 18px;}
.basicFont {font-family: "Istok Web", sans-serif; font-size: 16px; color: #555;}
.policyContainer {width: 100%; margin-top: 60px; padding: 20px;}
.policyHeaderFont {font-family: "Istok Web", sans-serif; font-size: 20px; color: #000; text-transform: uppercase;}
.container60 {width: 60%; margin: 50px auto auto auto;}
.column {width: 30%; margin-left: 2%; position: relative; float: left; display: table-column; text-align: center; font-family: "Istok Web", sans-serif;}
.firstColumn {margin-left: 3%;}
.catalogueContainer {width: 300px; padding: 10px; margin: 20px auto auto 20px; display: inline-block; background-color: #fff; box-shadow: 0 5px 15px -4px rgba(0, 0, 0, 0.4); vertical-align: middle;}
.cataloguePhoto, .cataloguePhoto img, .catalogueDescription {width: 100%;}
.catalogueName {font-family: "Montserat", sans-serif; color: #282828; font-size: 16px; width: 100%; text-align: center; margin-top: 20px; font-weight: bold;}
.catalogueShortDescription {font-family: "Istok Web", sans-serif; font-size: 16px; color: #282828; text-align: left; margin-top: 20px; width: 280px; padding-left: 10px; padding-right: 10px;}
.catalogueButtonContainer {width: 100%; padding-bottom: 20px;}
.pageNumberBlockSide {position: relative; float: left; height: 30px; line-height: 30px; padding-left: 10px; padding-right: 10px; text-align: center; border-radius: 3px; margin-left: 2px; transition: .3s;}
.pageNumberBlock {position: relative; float: left; width: 40px; height: 30px; line-height: 30px; text-align: center; border-radius: 3px; margin-left: 2px; transition: .3s;}
.pageNumberBlockActive {position: relative; float: left; background-color: #fb5c25; width: 40px; height: 30px; line-height: 30px; text-align: center; border-radius: 3px; margin-left: 2px;}
.paginationInactive {color: #191919;}
.paginationActive {color: #fff;}
.paginationLink {color: #fb5c25;}