/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .goodPhoto {float: none; margin: 0 auto;}
    .goodProperties {float: none; margin-top: 20px; width: 100%;}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .menuPoint {font-size: 14px; padding-left: 5px; padding-right: 5px;}
    .footerLogo {width: 30%;}
    .footerText {width: 65%;}
    .column {width: 100%; margin-top: 20px;}
    .goodContainer {width: 760px;}
    .goodDescription {width: 440px;}
    .basketRow {width: 80%;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #menuPoints {display: none;}
    #logo {float: none; display: inline-block; vertical-align: middle;}
    #mobileMenuIcon {display: inline-block; vertical-align: middle; padding-left: 30px; margin-top: 7px;}
    #menuContent {text-align: center;}
    #bottomButton {height: 30px; line-height: 30px; font-size: 16px;}
    #policyHeader {font-size: 30px;}

    .sloganBigFont {font-size: 80px;}
    .sloganSmallFont {font-size: 50px;}
    .activityPhoto {width: 100%;}
    .activityDescription {width: 100%; margin-top: 20px;}
    .footerLogo {width: 40%;}
    .footerText {width: 55%;}
    .column {width: 100%; margin: 20px auto auto 0;}
    .goodContainer {width: 96%;}
    .goodPhoto {float: none; margin: 0 auto;}
    .goodDescription {float: none; width: 100%;}
    .catalogueMenu {width: 100%; float: none;}
    .catalogueContent {width: 100%; float: none; margin-top: 20px;}
    .basketRow {width: 90%;}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    #policyHeader {font-size: 20px;}

    .sloganBigFont {font-size: 60px;}
    .sloganSmallFont {font-size: 30px;}
    .headerFont {font-size: 36px;}
    .footerLogo {width: 100%; float: none;}
    .footerText {width: 100%; float: none; margin-top: 50px; text-align: center;}
    .policyHeaderFont {font-size: 14px;}
    .basketDescriptionText {display: none;}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .sloganBigFont {font-size: 50px;}
    .sloganSmallFont {font-size: 30px;}
    .promoButton {margin-top: 0;}
    .headerFont {font-size: 30px;}
    .goodPhoto, .goodPhoto img {width: 100%;}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}